/* https://github.com/mayank99/reset.css */
@import "https://unpkg.com/@acab/reset.css";

:root {
  --footer-height: 1rem;
}

:where(h1, p) {
  color: black;
}

.u-bg {
  background: #f1f8e9;
}

.u-centering-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: calc(100vh - var(--footer-height));
  min-height: calc(100dvh - var(--footer-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.u-spacer {
  min-height: 1em;
}
.u-spacer-x-4 {
  min-height: 4em;
}

.c-icon {
  border-radius: 50%;
}

.c-social-list {
  font-size: x-large;
}

.c-footer {
  line-height: var(--footer-height);
  font-size: small;
  color: gray;
  display: flex;
  justify-content: end;
}
